*.src.rock
*.tar.gz
*.zip
.github/slack*.json
.idea/
.vscode/
busted.out
coverage/
description.txt
docs/*
lcov.info
luacov.*
steam-workshop.zip
workshop*/

!docs/.dockerignore
!docs/Dockerfile
!docs/docker-stack.yml
!docs/ldoc/
