### Intellij ###
.idea/

### VisualStudioCode ###
.vscode/

### Lua ###
# LuaCov
coverage/
lcov.info
luacov.*

# Busted
busted.out
core

### Project ###
# general
description.txt

# docs
docs/*
!docs/.dockerignore
!docs/docker-stack.yml
!docs/Dockerfile
!docs/ldoc/

# steam workshop
steam-workshop.zip
workshop*/
