{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.xml",
      "options": {
        "parser": "xml"
      }
    }
  ]
}
